//
// Tables with headers in the first column of each row.
//

table {
    &.horizontal {
        th {
            border-bottom:0;
        }
        tr + tr th {
            border-top: 1px solid #ddd;
        }
        th + td {
            border-left: 1px solid #ddd;
        }
    }
    
    &.align-middle {
        td {
            vertical-align:middle !important;
        }
    }
    
    td, th {
        
        &.check {
            width:16px;
        }
        &.date {
            width:100px;
        }
        &.status {
            width:75px;
            text-align:center;
        }
        &.currency {
            width:100px;
            text-align:right;
        }
        &.payments {
            width:120px;
            text-align:center;
        }
        &.number {
            width:100px;
        }
    }
    
    &.zebra-striped {
        tbody {
            tr.selected td,
            tr:hover td {
                background-color: @orangeTableHover;
            }
            tr.selected:nth-child(odd) td {
                background-color: darken(@orangeTableHover, 5%);
            }
        }
    }
}
