{% extends "::base.html.twig" %}

{% block searchform %}{% endblock %}

{% block body %}
  
  <form action="{{ path('invoice_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <input type="submit" />
  </form>
  
{% endblock %}