{% extends "::base.html.twig" %}

{% block bodytag %}<body class="with-toolbar">{% endblock %}
{% block toolbar %}
  <ul id="toolbar">
    <li>
      <a href="#" title="{% trans %}Remove selected{% endtrans %}"><i class="icon-trash"></i></a>
    </li>
    <li>
      <a href="#" title="{% trans %}Print selected{% endtrans %}"><i class="icon-print"></i></a>
    </li>
    <li>
      <a href="#" title="{% trans %}Download as PDF{% endtrans %}"><i class="icon-download-alt"></i></a>
    </li>
    <li>
      <a href="#" title="{% trans %}Email selected{% endtrans %}"><i class="icon-envelope"></i></a>
    </li>
  </ul>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    'js/bundle/invoice-payments.js'
    output='js/min/invoice-list.js'
    filter='?yui_js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block searchform %}
  {% include "SiwappInvoiceBundle:Partials:search.html.twig" %}
{% endblock %}

{% block body %}
  <div id="invoices-latest-invoices">
    {% include "SiwappInvoiceBundle:Partials:listing.html.twig" %}
  </div>
  
{% endblock %}
