{% extends "::base.html.twig" %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    'js/bundle/invoice-payments.js'
    filter='yui_js'
    output='js/min/invoice-list.js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block searchform %}
  {% include "SiwappInvoiceBundle:Default:search.html.twig" %}
{% endblock %}

{% block body %}
  
  <div id="invoices-latest-invoices">
    {% set table_rows = invoices %}
    {% include "SiwappInvoiceBundle:Default:invoices_list.html.twig" %}
  </div>
  
{% endblock %}