{% extends "::base.html.twig" %}

{% block body %}
  
  <h1>Invoices</h1>
  
  <p>
    <button class="btn primary icon share alternative">Share this invoice!</button>
  </p>
  
  <p>
    <input id="datepicker" />
    <script type="text/javascript">
    jQuery(function($){
      $('#datepicker').kendoDatePicker();
    });
    </script>
  </p>
  
{% endblock %}
