{% extends "::base.html.twig" %}

{% block bodytag %}<body class="with-toolbar">{% endblock %}
{% block toolbar %}
  <ul id="toolbar">
    <li>
      <a href="#" class="remove" title="{% trans %}Remove selected{% endtrans %}">{% trans %}Remove selected{% endtrans %}</a>
    </li>
    <li>
      <a href="#" class="print" title="{% trans %}Print selected{% endtrans %}">{% trans %}Print selected{% endtrans %}</a>
    </li>
    <li>
      <a href="#" class="pdf" title="{% trans %}Download as PDF{% endtrans %}">{% trans %}Download as PDF{% endtrans %}</a>
    </li>
    <li>
      <a href="#" class="email" title="{% trans %}Email selected{% endtrans %}">{% trans %}Email selected{% endtrans %}</a>
    </li>
  </ul>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    'js/bundle/invoice-payments.js'
    output='js/min/invoice-list.js'
    filter='?yui_js'
  %}
  <script type="text/javascript" charset="utf-8" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block searchform %}
  {% include "SiwappInvoiceBundle:Default:search.html.twig" %}
{% endblock %}

{% block body %}
  
  <div id="invoices-latest-invoices">
    {% set table_rows = entities %}
    {% include "SiwappInvoiceBundle:Default:invoices_list.html.twig" %}
  </div>
  
{% endblock %}
