{# TODO: Set widths in CSS!!! (search style attributes) #}

<div class="popover left payments-popover" data-invoice-id="1">
  <div class="arrow"></div>
  <div class="inner" style="width:auto !important;">
    <h3 class="title">{% trans %}Payments{% endtrans %}</h3>
    <div class="content">
      
      <form action="{{ path('invoice_payment_add', { 'invoiceId': 1 }) }}" method="post">
        <table>
          <colgroup>
            <col class="check" style="width:20px;" />
            <col class="description" />
            <col class="amount" />
          </colgroup>
          <thead>
            <tr>
              <th>
                <input type="checkbox" name="all" />
              </th>
              <th>
                {% trans %}Description{% endtrans %}
              </th>
              <th>
                {% trans %}Amount{% endtrans %}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" name="id[]" value="1" />
              </td>
              <td>
                First Payment
              </td>
              <td>
                1000,00€
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="id[]" value="1" />
              </td>
              <td>
                Second Payment
              </td>
              <td>
                500,00€
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input type="text" placeholder="Description" name="description">
              </td>
              <td>
                <input type="text" placeholder="Amount" name="amount">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="buttons">
          <a href="{{ path('invoice_payment_delete', { 'invoiceId': 1 }) }}" class="btn danger icon alternative remove float-left">{% trans %}Remove selected{% endtrans %}</a>
          <button type="button" class="btn secondary">{% trans %}Close{% endtrans %}</button>
          <button type="submit" class="btn primary icon alternative add">{% trans %}Add Payment{% endtrans %}</button>
        </div>
      </form>
      
    </div>
  </div>
</div>