{# TODO: Set widths in CSS!!! (search style attributes) #}

<div class="popover left payments-popover" data-invoice-id="{{ invoiceId }}">
  <div class="arrow"></div>
  <div class="inner" style="width:auto !important;">
    <h3 class="title">{% trans %}Payments{% endtrans %}</h3>
    <div class="content">
      {# AJAX zone #}
      {% include "SiwappInvoiceBundle:Partials:payments_form.html.twig" %}
      {# AJAX zone #}
    </div>
  </div>
</div>